# Telegram Bot Configuration
# Получите токен у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=8284622957:AAFRrM7IcVkvdKTuVSxccyw1xw0bc8L-SgQ

# News API Configuration
# Получите API ключ на https://newsapi.org/
NEWS_API_KEY=e131187643e34d71bb18510f2ca8d753

# Если NEWS_API_KEY не указан, бот будет использовать тестовые данные
